@model IEnumerable<CanteenSystem.Web.Models.OrderItem>

@{
    ViewData["Title"] = "Order details";
}  
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MealMenuOrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealMenu)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MealMenuOrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealMenu.MealName)
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="Index" asp-controller="Orders">Back to List</a>
</div>
